{% extends 'base.html' %}
{% block nav %}
    <br>
    <div style="font-size: large">
        <ol class="breadcrumb" style="background-color: transparent">
            <li><a href="/"><strong>Home</strong></a></li>
            <li><a href="/parse"><strong>Parse</strong></a></li>
            <li><a href="/parse/datafield" style="color: #afd9ee"><strong>Datafield</strong></a></li>
        </ol>
    </div>
{% endblock %}
{% block parse_datafield %}
    {{ data.20.time }}
    {{ data.20.id }}
    {{ id.20 }}
    {{ feat.0.SR }}
    <script type="text/javascript">
        var item = document.getElementById("web_title");
        item.innerHTML = "Parse";
        item = document.getElementById("web_logo");
        item.innerHTML = "Parse";
    </script>
{% endblock %}