<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="web_title">CAN_IDS</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
{#    <link rel="stylesheet" href="/static/css/font-awesome.min.css">#}
    <link rel="stylesheet" href="/static/css/slick.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/templatemo-style.css">
    <link rel="stylesheet" href="/static/SideColum/css/leftSide.css">

    <!-- 这里有一些简单的CSS信息 -->
    <style type="text/css">
        body {
            background-image: url(/static/img/tm-astro-bg.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        input {
            background: rgba(0, 0, 0, 0.3);
            border-radius: 3px; /*css3属性IE不支持*/
            padding: 7px 0px 7px 5px;
        }

        button.submit {
            background: rgba(0, 0, 0, 0.3);
            border-radius: 3px; /*css3属性IE不支持*/
            padding: 7px 0px 7px 5px;
        }
    </style>
    <!-- 侧边栏的js代码 -->
    <script type="text/javascript">
	/*打开侧栏，修改侧栏宽度，主体左跨度、背景透明度*/
	function openNav() {
    	document.getElementById("mySidenav").style.width = "250px";
		document.getElementById("main").style.marginLeft = "250px";
    	document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
	}

	/*关闭侧栏，恢复原始侧栏宽度，主体左跨度、背景透明度*/
	function closeNav() {
		document.getElementById("mySidenav").style.width = "0";
		document.getElementById("main").style.marginLeft= "0";
	}

	</script>
    <!--

    TemplateMo 560 Astro Motion

    https://templatemo.com/tm-560-astro-motion

    -->
</head>

<body>


<div id="mySidenav" class="sidenav">
  <!-- 侧边页面选择框 -->
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <form role="form" style="text-align: center;font-size:12px;">
        {% csrf_token %}
        <!-- 这里的诸多攻击方式，应当如何快速处理呢？ -->
        <!-- height，line-height，padding和font-size -->
        <div class="form-group" id="attack_type">
            <!-- 之所以不显示，是因为这里的表单发生了冲突，并且冲突无法解决 -->
            <label style="size:12px;">请选择想要的攻击方式</label>
                <br/>
                    <label>
                    <select style="color:white;background-color: transparent;size:300px;height: 50px;
                                    border-color: greenyellow;border-radius: 10px;text-align: center;"
                        id="side_colum_chose_attack_type">
                        <option style="color:black">注入insert</option>
                        <option style="color:black">删除erase</option>
                        <option style="color:black">重放单个id_reput</option>
                        <option style="color:black">重放多个id_reput</option>
                        <option style="color:black">数据域修改</option>
                    </select>
                </label>
        </div>

        <div class="form-group">
            <label for="name">攻击持续时间（s）</label><br/>
            <input  id="side_colum_attack_exist_time" style="color:white;
                        background-color: transparent;size:100px;height: 50px;
                                border-color: greenyellow;border-radius: 10px;
                        text-align: center;">
        </div>

        <div class="form-group" id="insert id" >
        <label>选择攻击的报文id</label>
            <br/>
                <label>
                <select style="color:white;background-color: transparent;size:300px;height: 50px;
                                border-color: greenyellow;border-radius: 10px;text-align: center;"
                    id="side_colum_chose_id">
                    {% for item in targetChoics %}
                        <option style="color:black">{{ item }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>

        <div class="form-group" id="" >

        <button type="button" class="btn btn-default"
            style="color:white;background-color: transparent;font-size:18px;
                    size:100px;height:50px;border-color: greenyellow;border-radius: 10px;"
                id="side_colum_make_attack">生成攻击</button>
        </div>
        <br/><br/>

        <br/><br/>

        <div class="form-group">
            <label for="name">如果是注入攻击的话，请输入周期（s）</label><br/>
            <input  id="side_colum_attack_circle_time" style="color:white;
                        background-color: transparent;size:100px;height: 50px;
                                border-color: greenyellow;border-radius: 10px;
                        text-align: center;">
        </div>

        <div class="form-group" id="" >
        <label>如果是数据域修改攻击，请选择种类</label>
            <br/>
                <label>
                <select style="color:white;background-color: transparent;size:300px;height: 50px;
                                border-color: greenyellow;border-radius: 10px;text-align: center;"
                    id="side_colum_datafield_chose_attack_method">
                    <option style="color:black"> </option>
                    <option style="color:black">随即修改RanDom</option>
                    <option style="color:black">定值或多值字段修改</option>
                    <option style="color:black">传感器修改Sensor</option>
                </select>
            </label>
        </div>


    <div class="form-group" id="insert id" >
        <label>如果是传感器字段修改Sensor，请选择种类</label>
            <br/>
                <label>
                <select style="color:white;background-color: transparent;size:300px;height: 50px;
                                border-color: greenyellow;border-radius: 10px;text-align: center;"
                    id="side_colum_sensor_attack_type">
                    <option style="color:black">not chosen</option>
                    <option style="color:black">max-value</option>
                    <option style="color:black">min-value</option>
                    <option style="color:black">random-value</option>
                    <option style="color:black">advanced-attack</option>
                </select>
            </label>
        </div>


    </form>

</div>

<!-- 头上的东西-->
<div class="page-container" id="main">
    <!-- 页眉和导航栏 -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div><a class="navbar-brand" style="font-family: 'Segoe Print';color: #ffffff"><h1 id="web_logo">
                    CAN_IDS</h1></a></div>
                {% block nav %}
                {% endblock %}
            </div>

        </div>
    </div>
    <!-- about按钮和attack choice按钮 -->
    <div class="container-fluid">
        <div class="row">
             <span class="col-lg-3" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; attack choice</span>
            <div class="col-lg-6"></div>
            <div class="col-lg-3">
                <div class="text-center" style="margin-top: 8%;;">
                    <a href="/about" class="btn btn-primary tm-bg-dark" style="font-size: large; color: #5cb85c;margin-left:2%;">
                        About
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- 为页面的多态打下基础 -->
    {% block home %}
    {% endblock %}
    {% block parse %}
    {% endblock %}
    {% block parse_sequence %}
    {% endblock %}
    {% block parse_datafield %}
    {% endblock %}

    {% block detect %}
    {% endblock %}
    {% block detect_seq %}
    {% endblock %}
    {% block detect_seq_rel %}
    {% endblock %}
    {% block construct %}
    {% endblock %}

    {% block about %}
    {% endblock %}
    {% block work %}
    {% endblock %}
    {% block contact %}
    {% endblock %}

    {% block construct_insert %}
    {% endblock %}
    {% block construct_erase %}
    {% endblock %}
    {% block construct_reput %}
    {% endblock %}
    {% block construct_changeDatafield %}
    {% endblock %}
    {% block completeSystem %}
    {% endblock %}
    <!-- 页脚 -->



    <table class="table" id="side_effect_attack_description_div">
        <!-- 这里有一个统一的table，专门用存放生成的表格信息-->

    </table>
    <div class="footer-container">
        <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
            <div class="container">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Copy right from WZD</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>

<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>

<script src="/static/js/jquery-3.5.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/slick.js"></script>
<script src="/static/js/templatemo-script.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/npm.js"></script>

<!-- JS代码也插入在最后，提高效率efficiency喽 -->

<!-- 涉及到了html页面ajax交互，写法还是比较基础的哦 -->
<script>
        // 经过一系列复杂操作，终于获得了正确的html js响应，但是还需要一些美化操作，现在的界面太挫了
        // 美化操作应当如何快速完成呢？暂时是不清楚的
        // 攻击数据的描述需要总是清晰地，才有利于数据的处理
        $(function() {
            // while循环中各种不同情况可以放到后台处理，是更加合理的
            // 内容是合理的哦
            $("#side_colum_make_attack").click(function() {
                var formdata = new FormData();
                // 获取提交的所有表单？
                formdata.append("chose_attack_type", $("#side_colum_chose_attack_type").val());
                formdata.append("attack_exist_time", $("#side_colum_attack_exist_time").val());
                formdata.append("chose_id", $("#side_colum_chose_id").val());

                formdata.append("chose_cycle_time", $("#side_colum_attack_circle_time").val());
                formdata.append("chose_datafield_attack_method", $("#side_colum_datafield_chose_attack_method").val());
                formdata.append("sensor_attack_type", $("#side_colum_sensor_attack_type").val());
                // formdata.append("")
                var token_of_csrf = $('[name="csrfmiddlewaretoken"]').val();
                formdata.append("csrfmiddlewaretoken", token_of_csrf);
                // 至此，信息都是完整的
                $.ajax({
                    url:"/attack_make",
                    headers: {
                        "X-CSRFToken":token_of_csrf
                    },
                    type:"post",
                    data: formdata,
                    dataType: 'JSON',
                    cache:false,
                    processData:false,
                    contentType:false,
                    success:function(target_list) {
                        var n = target_list['size'];
                        n = parseInt(n);
                        //console.log(target_list);
                        // 这里我们需要把文件修改为方便的json格式，需要自己生成？
                        $('#side_effect_attack_description_div').empty();

                        // <thead style="color:white"></thead>;
                        var table = "<thead style=\"color:white\"><tr> <th>time</th> <th>id</th> <th>data_in_hex</th> <th>description</th> </tr></thead>";
                        $('#side_effect_attack_description_div').append(table);
                        for(var i=0; i<n; i++) {
                            // 下面需要构建报文
                            // 需要展示一部分内容出来？对的哦
                            var time_loc = "time" + i;
                            var can_id_loc = "can_id" + i;
                            var data_loc = "data_in_hex" + i;
                            var description_loc = "description" + i;

                            var tbody = "<tbody style=\"color:greenyellow\"><tr>";
                            var tmp = "";
                            tmp = tmp+"<td>";
                            tmp = tmp + target_list[time_loc] + "</td>";
                            tmp = tmp+"<td>";
                            tmp = tmp + target_list[can_id_loc] + "</td>";
                            tmp = tmp+"<td>";
                            tmp = tmp + target_list[data_loc] + "</td>";
                            tmp = tmp+"<td>";
                            tmp = tmp + target_list[description_loc] + "</td>";
                            var tbody_end = "</tr><tbody>";
                            $('#side_effect_attack_description_div').append(tbody+tmp+tbody_end);
                        }
                        if(n==0) {
                            var tbody = "<tbody style=\"color:greenyellow\"><tr>";
                            var tmp = "";
                            tmp = tmp+"<td>";
                            tmp = tmp + "id is not proper or time is too less" + "</td>";
                            tmp = tmp+"<td>";
                            tmp = tmp + "id is not proper or time is too less" + "</td>";
                            tmp = tmp+"<td>";
                            tmp = tmp + "id is not proper or time is too less" + "</td>";
                            tmp = tmp+"<td>";
                            tmp = tmp + "id is not proper or time is too less" + "</td>";
                            var tbody_end = "</tr><tbody>";
                            $('#side_effect_attack_description_div').append(tbody+tmp+tbody_end);
                        }
                    }
                })
            })
        })
    </script>

</body>
</html>