{% extends 'base.html' %}
{% block nav %}
    <br>
      <div style="font-size: large">
        <ol class="breadcrumb" style="background-color: transparent">
            <li><a href="/" style="color: #afd9ee"><strong>Home</strong></a></li>
        </ol>
      </div>
{% endblock %}
{% block home %}
    <div class="container-fluid tm-content-container">
        <ul class="cd-hero-slider mb-0 py-5">
            <h1 style="text-align: center">Our main work</h1>
            <div class="mx-auto position-relative gallery-container">
            <div class="circle intro-circle-1"></div>
            <div class="circle intro-circle-2"></div>
                <div class="mx-auto tm-border-top gallery-slider">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="intro-left tm-bg-dark" style="height: 100%">
                                <h1 class="mb-4" style="text-align: center"><a href='/parse'>Parse</a></h1>
                                <p class="mb-4" style="font-size: large">
                                    Parse a normal dataset, and extract behavioral features
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="intro-left tm-bg-dark" style="height: 100%">
                                <h1 class="mb-4" style="text-align: center"><a href='/detect'>Detect</a></h1>
                                <p class="mb-4" style="font-size: large">
                                    Detect anomaly in the given data set
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="intro-left tm-bg-dark" style="height: 100%">
                                <h1 class="mb-4" style="text-align: center"><a href='/construct'>Construct</a></h1>
                                <p class="mb-4" style="font-size: large">
                                    Generate a data set with or without anomalies for testing
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
    </div>


    <div class="container-fluid tm-content-container">
        <ul class="cd-hero-slider mb-0 py-5">
            <h1 style="text-align: center">Complete System</h1>
            <div class="mx-auto position-relative gallery-container">
            <div class="circle intro-circle-1"></div>
            <div class="circle intro-circle-2"></div>
                <div class="mx-auto tm-border-top gallery-slider">
                    <div class="row">
                            <div class="jumbotron" style="background-image:url(/static/CanConstructImg/awsomeThing.jpg); border-radius: 20px;">
      <h1 style="font-size:25px;color:cornflowerblue;text-align: center;">最终系统演示 </h1>
      <p></p>
                                <!-- 指向的是最终的html喽 -->
      <p><a class="btn btn-primary btn-lg" href="/completeSystem" role="button"
            style="background-color: transparent;color:navajowhite;text-align: center;
                    margin:auto;width:100%;">点击这里进入</a></p>
    </div>
                    </div>
                </div>
            </div>
        </ul>
    </div>
    <script type="text/javascript">
        var item = document.getElementById("homehref")
        item.setAttribute("class", "nav-item selected")
    </script>
{% endblock %}