{% extends 'work.html' %}

{% block rules %}
    <div class="row">
        <div class="col-md-3">
            <div class="intro-left tm-bg-dark">
                <h2 class="mb-4"><a href='/work/rules/uniqueid'>Unique IDs</a></h2>
                <p class="mb-4">
                    {{ file.0 }}
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="intro-left tm-bg-dark">
                <h2 class="mb-4">Intervals</h2>
                <p class="mb-4">
                    {{ file.0 }}
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="intro-left tm-bg-dark">
                <h2 class="mb-4">Cosine</h2>
                <p class="mb-4">
                    {{ file.0 }}
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="intro-left tm-bg-dark">
                <h2 class="mb-4">Data</h2>
                <p class="mb-4">
                    {{ file.0 }}
                </p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="intro-left tm-bg-dark">
                <h2 class="mb-4">Unique IDs</h2>
                <p class="mb-4">
                    {{ file.0 }}
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="intro-left tm-bg-dark">
                <h2 class="mb-4">Intervals</h2>
                <p class="mb-4">
                    {{ file.0 }}
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="intro-left tm-bg-dark">
                <h2 class="mb-4">Cosine</h2>
                <p class="mb-4">
                    {{ file.0 }}
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="intro-left tm-bg-dark">
                <h2 class="mb-4">Data</h2>
                <p class="mb-4">
                    {{ file.0 }}
                </p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="intro-left tm-bg-dark">
                <h2 class="mb-4">Unique IDs</h2>
                <p class="mb-4">
                    {{ file.0 }}
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="intro-left tm-bg-dark">
                <h2 class="mb-4">Intervals</h2>
                <p class="mb-4">
                    {{ file.0 }}
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="intro-left tm-bg-dark">
                <h2 class="mb-4">Cosine</h2>
                <p class="mb-4">
                    {{ file.0 }}
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="intro-left tm-bg-dark">
                <h2 class="mb-4">Data</h2>
                <p class="mb-4">
                    {{ file.0 }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}