{% extends 'base.html' %}
{% block nav %}
    <br>
      <div style="font-size: large">
        <ol class="breadcrumb" style="background-color: transparent">
            <li><a href="/"><strong>Home</strong></a></li>
            <li><a href="/parse"><strong>Parse</strong></a></li>
            <li><a href="/parse/sequence" style="color: #afd9ee"><strong>Sequence</strong></a></li>
        </ol>
      </div>
{% endblock %}
{% block parse_sequence %}
    {{ parse.20.data_in_hex }}
    <script type="text/javascript">
        var item = document.getElementById("web_title");
        item.innerHTML = "Parse";
        item = document.getElementById("web_logo");
        item.innerHTML = "Parse";
    </script>
{% endblock %}