{% extends 'base.html' %}


<!-- 只要保证最后的读写内容是一个就可以了，还是比较easy的 随时可以修改内容！ -->
<!-- 还有一些致命的跳转问题，某种程度上来说，并不算是严重的跳转问题喽 -->
{% block nav %}
    <br>
      <div style="font-size: large">
        <ol class="breadcrumb" style="background-color: transparent;text-align: center;">
            <li><a href="/" style="color: #afd9ee"><strong>Home</strong></a></li>
            <li><a href="/construct" style="color: #afd9ee"><strong>Construct</strong></a></li>
            <li><a href="/construct/reput" style="color: #afd9ee"><strong>Reput Attack</strong></a></li>
        </ol>
      </div>
{% endblock %}
<!-- 需要制造一个可以选择攻击的部分？ -->
{% block construct_reput %}
    <!-- 这里面是自己发挥的内容哦 -->
    <!-- 新 Bootstrap 核心 CSS 文件 -->

    <!-- 总而言之，想要好看，还是需要自己慢慢设计实现的 -->
    <!-- 直接用模板总会出现意想不到的问题 -->
    <!-- 生成的attack报文应当展示出来的， 我直接写的有问题， 很不舒服-->

    <!-- 算是自己实现了一个简陋的攻击生成页面，解决了一些必要的冲突 -->
    <!-- form提交以后，我们需要更新网页，将攻击内容显示出来 -->
    <!-- 我裂开，为什么jquery无法使用呢？貌似存在冲突？ -->

    <div class="jumbotron" style="background-image:url(/static/CanConstructImg/awsomeThing.jpg); border-radius: 20px;">
      <h1 style="font-size:25px;color:cornflowerblue;text-align: center;">   重放某个消息的报文？</h1>
      <p></p>
      <p><a class="btn btn-primary btn-lg" href="/construct/construct_reput_single" role="button"
            style="background-color: transparent;color:navajowhite;text-align: center;
                    margin:auto;width:100%;">点击这里</a></p>
    </div>

    <div class="jumbotron" style="background-image:url(/static/CanConstructImg/awsomeThing.jpg); border-radius: 20px;">
      <h1 style="font-size:25px;color:cornflowerblue;text-align: center;">   重放一小段时间的所有报文？</h1>
      <p></p>
      <p><a class="btn btn-primary btn-lg" href="/construct/construct_reput_all" role="button"
            style="background-color: transparent;color:navajowhite;text-align: center;
                    margin:auto;width:100%;">点击这里</a></p>
    </div>

{% endblock %}