{% extends 'base.html' %}


<!-- 只要保证最后的读写内容是一个就可以了，还是比较easy的 随时可以修改内容！ -->
{% block nav %}
    <br>
      <div style="font-size: large">
        <ol class="breadcrumb" style="background-color: transparent;text-align: center;">
            <li><a href="/" style="color: #afd9ee"><strong>Home</strong></a></li>
            <li><a href="/construct" style="color: #afd9ee"><strong>Construct</strong></a></li>
            <li><a href="/construct/changeDataField" style="color: #afd9ee"><strong>changeDataField Attack</strong></a></li>
        </ol>
      </div>
{% endblock %}
<!-- 需要制造一个可以选择攻击的部分？ -->
{% block construct_insert %}
    <!-- 这里面是自己发挥的内容哦 -->
    <!-- 新 Bootstrap 核心 CSS 文件 -->

    <!-- 总而言之，想要好看，还是需要自己慢慢设计实现的 -->
    <!-- 直接用模板总会出现意想不到的问题 -->
    <!-- 生成的attack报文应当展示出来的， 我直接写的有问题， 很不舒服-->

    <!-- 算是自己实现了一个简陋的攻击生成页面，解决了一些必要的冲突 -->
    <!-- form提交以后，我们需要更新网页，将攻击内容显示出来 -->
    <!-- 我裂开，为什么jquery无法使用呢？貌似存在冲突？ -->
    <form role="form" style="text-align: center">
        {% csrf_token %}
        <!-- 这里的诸多攻击方式，应当如何快速处理呢？ -->
        <div class="form-group" id="insert id" >
        <!-- 之所以不显示，是因为这里的表单发生了冲突，并且冲突无法解决 -->
        <label>请选择想要的攻击方式</label>
            <br/>
                <label>
                <select style="color:white;background-color: transparent;size:300px;height: 50px;
                                border-color: greenyellow;border-radius: 10px;text-align: center;"
                    id="chose_attack_method">
                    <option style="color:black">RanDom</option>
                    <option style="color:black">ConstOrMultivalue</option>
                    <option style="color:black">Sensor</option>
                </select>
            </label>
        </div>

    <div class="form-group" id="insert id" >
        <label>选择注入的报文id</label>
            <br/>
                <label>
                <select style="color:white;background-color: transparent;size:300px;height: 50px;
                                border-color: greenyellow;border-radius: 10px;text-align: center;"
                    id="chose_id">
                    {% for item in targetChoics %}
                        <option style="color:black">{{ item }}</option>
                    {% endfor %}
                </select>
            </label>
    </div>
    <div class="form-group" id="insert id" >
        <label>如果想要攻击传感器字段，请指定类型</label>
            <br/>
                <label>
                <select style="color:white;background-color: transparent;size:300px;height: 50px;
                                border-color: greenyellow;border-radius: 10px;text-align: center;"
                    id="sensor_attack_type">
                    <option style="color:black">not chosen</option>
                    <option style="color:black">max-value</option>
                    <option style="color:black">min-value</option>
                    <option style="color:black">random-value</option>
                    <option style="color:black">advanced-attack</option>
                </select>
            </label>
        </div>

        <div class="form-group">
            <label for="name">攻击持续时间（s）</label><br/>
            <input  id="attack_exist_time" style="color:white;
                        background-color: transparent;size:100px;height: 50px;
                                border-color: greenyellow;border-radius: 10px;
                        text-align: center;">
        </div>
        <!-- 这里涉及到了攻击的注入，只要把这个写好，总是可以飞黄腾达的 -->
        <br/>
        <label for="name">点击按钮生成攻击</label><br/>
        <button type="button" class="btn btn-default"
            style="color:white;background-color: transparent;font-size:18px;
                    size:100px;height:50px;border-color: greenyellow;border-radius: 10px;"
                id="make_insert_attack">生成攻击</button>
    </form>

    <div class="container">
        <!-- 异常数据的显示还是以前的那一套流程，就直接显示在表格里面喽 -->
      <h2>异常数据展示</h2>
      <p></p>
      <table class="table" id="attack_description_div">
        <thead style="color:white">
          <tr>
                <th>time</th>
                <th>id</th>
                <th>data_in_hex</th>
                <th>description</th>
          </tr>
        </thead>

      </table>
    </div>


    <!-- 以前的我是万万看不明白这个jquery ajax的写法的，现在水平确实比以前要高不少了 -->
    <!-- 现在看来，差不多完成了基本异常处理类的编写了 -->
    <!-- 某些静态图像自动生成的功能还是暂时不要写了 以后有机会再加上去-->
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/slick.js"></script>
    <script src="/static/js/templatemo-script.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/npm.js"></script>
    <script>
        // 经过一系列复杂操作，终于获得了正确的html js响应，但是还需要一些美化操作，现在的界面太挫了
        // 美化操作应当如何快速完成呢？暂时是不清楚的
        $(function() {
            $("#make_insert_attack").click(function() {
                var formdata = new FormData();
                // 获取提交的所有表单？
                formdata.append("chose_id", $("#chose_id").val());
                formdata.append("attack_exist_time", $("#attack_exist_time").val());
                formdata.append("chose_attack_method", $("#chose_attack_method").val());
                formdata.append("sensor_attack_type", $("#sensor_attack_type").val());

                var token_of_csrf = $('[name="csrfmiddlewaretoken"]').val();
                formdata.append("csrfmiddlewaretoken", token_of_csrf);
                // 发现是undefined的，需要找到对应的真实内容？
                // console.log(token_of_csrf);
                // 总算是把数据成功发送过去了，我真的是醉了哦
                $.ajax({
                    url:"/changeDataField_attack",
                    headers: {
                        "X-CSRFToken":token_of_csrf
                    },
                    type:"post",
                    data: formdata,
                    dataType: 'JSON',
                    cache:false,
                    processData:false,
                    contentType:false,
                    success:function(target_list) {
                        var n = target_list['size'];
                        n = parseInt(n);
                        //console.log(target_list);
                        // 这里我们需要把文件修改为方便的json格式，需要自己生成？
                        // 好痛苦哇
                        for(var i=0; i<n; i++) {
                            // 下面需要构建报文
                            var time_loc = "time" + i;
                            var can_id_loc = "can_id" + i;
                            var data_loc = "data_in_hex" + i;
                            var description_loc = "description" + i;

                            var tbody = "<tbody style=\"color:greenyellow\"><tr>";
                            var tmp = "";
                            tmp = tmp+"<td>";
                            tmp = tmp + target_list[time_loc] + "</td>";
                            tmp = tmp+"<td>";
                            tmp = tmp + target_list[can_id_loc] + "</td>";
                            tmp = tmp+"<td>";
                            tmp = tmp + target_list[data_loc] + "</td>";
                            tmp = tmp+"<td>";
                            tmp = tmp + target_list[description_loc] + "</td>";
                            var tbody_end = "</tr><tbody>";
                            $('#attack_description_div').append(tbody+tmp+tbody_end);
                        }
                        if(n==0) {
                            var tbody = "<tbody style=\"color:greenyellow\"><tr>";
                            var tmp = "";
                            tmp = tmp+"<td>";
                            tmp = tmp + "id is not proper or time is too less" + "</td>";
                            tmp = tmp+"<td>";
                            tmp = tmp + "id is not proper or time is too less" + "</td>";
                            tmp = tmp+"<td>";
                            tmp = tmp + "id is not proper or time is too less" + "</td>";
                            tmp = tmp+"<td>";
                            tmp = tmp + "id is not proper or time is too less" + "</td>";
                            var tbody_end = "</tr><tbody>";
                            $('#attack_description_div').append(tbody+tmp+tbody_end);
                        }
                    }
                })
            })
        })
    </script>

{% endblock %}