{% extends 'base.html' %}
{% block nav %}
    <br>
      <div style="font-size: large">
        <ol class="breadcrumb" style="background-color: transparent">
            <li><a href="/"><strong>Home</strong></a></li>
            <li><a href="/construct" style="color: #afd9ee"><strong>Construct</strong></a></li>
        </ol>
      </div>
{% endblock %}
{% block construct %}
    <!-- 在这里可以加入一些简单的按钮进行跳转 -->
    <!-- 以下是我们的报文构建系统，可以进行各种不同攻击的构建？ -->
    <div class="mx-auto tm-border-top gallery-slider">
        <div class="row">
            <div class="col-md-6">
                <div class="intro-left tm-bg-dark" style="height: 100%">
                    <h1 class="mb-4" style="text-align: center"><a href='/construct/insert'>注入攻击</a></h1>
                    <!--
                    <p class="mb-4" style="font-size: large">
                        注入攻击
                    </p>
                    -->
                    <p class="mb-4" style="font-size: large">
                        </br>
                        向网络报文注入某个id的报文！
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="intro-left tm-bg-dark" style="height: 100%">
                    <h1 class="mb-4" style="text-align: center"><a href='/construct/reput'>重放攻击</a></h1>
                    <!--
                    <p class="mb-4" style="font-size: large">
                        删除攻击
                    </p>
                    -->
                    <p class="mb-4" style="font-size: large">
                        </br>
                        向网络重放某些报文或者数据字段
                    </p>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 3%">
            <div class="col-md-6">
                <div class="intro-left tm-bg-dark" style="height: 100%">
                    <h1 class="mb-4" style="text-align: center"><a href='/construct/fuzz'>Fuzz攻击</a></h1>
                    <!--
                    <p class="mb-4" style="font-size: large">
                        Fuzz攻击是非常基础的，随便选择，fuzz后注入即可
                    </p>
                    -->


                    <p class="mb-4" style="font-size: large">
                        </br>
                        数据字段取随机值，注入网络的攻击
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="intro-left tm-bg-dark" style="height: 100%">
                    <h1 class="mb-4" style="text-align: center"><a href='/construct/changeDataField'>欺骗攻击</a></h1>
                    <!--
                    <p class="mb-4" style="font-size: large">
                        数据域修改攻击
                    </p>
                    -->

                    <p class="mb-4" style="font-size: large">
                        </br>
                        根据规则，对报文的data字段进行各种修改，从而完成欺骗
                    </p>

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var item = document.getElementById("web_title");
        item.innerHTML = "Construct";
        item = document.getElementById("web_logo");
        item.innerHTML = "Construct";
    </script>
{% endblock %}