{% extends 'base.html' %}
{% block nav %}
    <br>
      <div style="font-size: large">
        <ol class="breadcrumb" style="background-color: transparent">
            <li><a href="/"><strong>Home</strong></a></li>
            <li><a href="/completeSystem" style="color: #afd9ee"><strong>completeSystem</strong></a></li>
        </ol>
      </div>
{% endblock %}

{% block completeSystem %}
    <!-- 这里需要仔细想一下设计问题？ -->
    <!-- 一些多余的css -->
    <style type="text/css">

                         span{height:40px; width:40px; display:block; position:relative;}

                        .demoSpan1{border-radius:50px;-webkit-border-radius:50px;-moz-border-radius:50px; background:#333;}

                        .demoSpan1:after, .demoSpan1:before{content:''; height:28px; width:6px; display:block; background:#fff; position:absolute; top:6px; left:20px; border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px; transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);}

                        .demoSpan1:before{height:12px; transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg); top:18px; left:8px;}

    </style>
    <style type="text/css">

         span{height:40px; width:40px; display:block; position:relative;}

        .demoSpan2{border-radius:50px;-webkit-border-radius:50px;-moz-border-radius:50px; background:#333;}

        .demoSpan2:before, .demoSpan2:after{content:''; height:6px; width:28px; display:block; background:#fff; border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px; position:absolute; top:17px; left:6px; transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);}

        .demoSpan2:after{transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);}

        </style>


    <div class="page-container" style="height:auto;">
        <div style="height:200px;background-color: black;
        border-radius: 20px;
        background-color:rgba(0,0,0,0.5);">
            <div class="row"
                 style="margin:25px auto;">
                <div class="col-md-1"></div>
                <div class="col-md-3"
                    style="background-image:url(/static/CanConstructImg/awsomeThing.jpg); border-radius: 20px;
                            background-size:100% 100%;height:150px;">

                    <h1 style="font-size:25px;color:cornflowerblue;
                    text-align: center;"> 报文周期格式检测 </h1>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-3">

                    <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false"
                            style="color:deepskyblue;background-color: rgba(0,0,0,0.5);border-radius: 20px;
                                    margin:50px auto;width:100px;" id="first_button">
                        检测
                    </button>
                </div>
                <div class="col-md-3" id="first_span">

                    <span class="demoSpan2" style="margin:50px;">
                    </span>
                </div>
            </div>
        </div>

        <div class="container-fluid tm-content-container">
        <ul class="cd-hero-slider mb-0 py-5">
            <div class="mx-auto position-relative gallery-container">
                <div class="circle intro-circle-1"></div>
                <div class="circle intro-circle-2"></div>
                <div class="mx-auto tm-border-top gallery-slider">
                    <div>
                        <table style="width:80%; margin: auto" id="first_table">


                        </table>
                    </div>
                </div>
            </div>
            <div>
                <br>
                <br>
            </div>
        </ul>
        </div>

        <div class="row"
             style="margin:10px auto;">
            <div class="col-md-5"></div>
            <div class="col-md-2"
                style="background-image:url(/static/CanConstructImg/arrows.jpg); border-radius: 20px;
                        background-size:100% 100%;height:100px;width:90px; opacity:0.3;">
            </div>
            <div class="col-md-5"></div>
        </div>


        <div style="height:200px;background-color: black;
        border-radius: 20px;
        background-color:rgba(0,0,0,0.5);">
            <div class="row"
                 style="margin:25px auto;">
                <div class="col-md-1"></div>
                <div class="col-md-3"
                    style="background-image:url(/static/CanConstructImg/awsomeThing.jpg); border-radius: 20px;
                            background-size:100% 100%;height:150px;">

                    <h1 style="font-size:25px;color:cornflowerblue;
                    text-align: center;"> 报文周期格式检测 </h1>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-3">

                    <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false"
                            style="color:deepskyblue;background-color: rgba(0,0,0,0.5);border-radius: 20px;
                                    margin:50px auto;width:100px;" id="second_button">
                        检测
                    </button>
                </div>
                <div class="col-md-3" id="second_span" >

                    <span class="demoSpan2" style="margin:50px;">
                    </span>
                </div>
            </div>
        </div>

        <div class="container-fluid tm-content-container">
        <ul class="cd-hero-slider mb-0 py-5">
            <div class="mx-auto position-relative gallery-container">
                <div class="circle intro-circle-1"></div>
                <div class="circle intro-circle-2"></div>
                <div class="mx-auto tm-border-top gallery-slider">
                    <div>
                        <table style="width:80%; margin: auto" id="second_table">


                        </table>
                    </div>
                </div>
            </div>
            <div>
                <br>
                <br>
            </div>
        </ul>
        </div>


        <div class="row"
             style="margin:10px auto;">
            <div class="col-md-5"></div>
            <div class="col-md-2"
                style="background-image:url(/static/CanConstructImg/arrows.jpg); border-radius: 20px;
                        background-size:100% 100%;height:100px;width:90px; opacity:0.3;">
            </div>
            <div class="col-md-5"></div>
        </div>




        <div style="height:200px;background-color: black;
        border-radius: 20px;
        background-color:rgba(0,0,0,0.5);">
            <div class="row"
                 style="margin:25px auto;">
                <div class="col-md-1"></div>
                <div class="col-md-3"
                    style="background-image:url(/static/CanConstructImg/awsomeThing.jpg); border-radius: 20px;
                            background-size:100% 100%;height:150px;">

                    <h1 style="font-size:25px;color:cornflowerblue;
                    text-align: center;"> 报文周期格式检测 </h1>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-3">

                    <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false"
                            style="color:deepskyblue;background-color: rgba(0,0,0,0.5);border-radius: 20px;
                                    margin:50px auto;width:100px;" id="third_button">
                        检测
                    </button>
                </div>
                <div class="col-md-3" id="third_span">

                    <span class="demoSpan2" style="margin:50px;">
                    </span>
                </div>
            </div>
        </div>

        <div class="container-fluid tm-content-container">
        <ul class="cd-hero-slider mb-0 py-5">
            <div class="mx-auto position-relative gallery-container">
                <div class="circle intro-circle-1"></div>
                <div class="circle intro-circle-2"></div>
                <div class="mx-auto tm-border-top gallery-slider">
                    <div>
                        <table style="width:80%; margin: auto" id="third_table">


                        </table>
                    </div>
                </div>
            </div>
            <div>
                <br>
                <br>
            </div>
        </ul>
        </div>

        <div class="row"
             style="margin:10px auto;">
            <div class="col-md-5"></div>
            <div class="col-md-2"
                style="background-image:url(/static/CanConstructImg/arrows.jpg); border-radius: 20px;
                        background-size:100% 100%;height:100px;width:90px; opacity:0.3;">
            </div>
            <div class="col-md-5"></div>
        </div>



        <div style="height:200px;background-color: black;
        border-radius: 20px;
        background-color:rgba(0,0,0,0.5);">
            <div class="row"
                 style="margin:25px auto;">
                <div class="col-md-1"></div>
                <div class="col-md-3"
                    style="background-image:url(/static/CanConstructImg/awsomeThing.jpg); border-radius: 20px;
                            background-size:100% 100%;height:150px;">

                    <h1 style="font-size:25px;color:cornflowerblue;
                    text-align: center;"> 报文周期格式检测 </h1>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-3">

                    <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false"
                            style="color:deepskyblue;background-color: rgba(0,0,0,0.5);border-radius: 20px;
                                    margin:50px auto;width:100px;" id="fourth_button">
                        检测
                    </button>
                </div>
                <div class="col-md-3" id="fourth_span">

                    <span class="demoSpan2" style="margin:50px;">
                    </span>
                </div>
            </div>
        </div>

        <div class="container-fluid tm-content-container">
        <ul class="cd-hero-slider mb-0 py-5">
            <div class="mx-auto position-relative gallery-container">
                <div class="circle intro-circle-1"></div>
                <div class="circle intro-circle-2"></div>
                <div class="mx-auto tm-border-top gallery-slider">
                    <div>
                        <table style="width:80%; margin: auto" id="fourth_table">


                        </table>
                    </div>
                </div>
            </div>
            <div>
                <br>
                <br>
            </div>
        </ul>
        </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </div>
    {% csrf_token %}

    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script>
        // 这里书写了一小部分数据的交互过程
        $(function() {
            $("#first_button").click(function() {
                var tmp = $('#first_span');
                tmp.empty();

                var formdata = new FormData();
                var token_of_csrf = $('[name="csrfmiddlewaretoken"]').val();
                // 这里有一小部分别的information，我们需要写入更多的信息
                formdata.append("first_table", "first_table");
                formdata.append("csrfmiddlewaretoken", token_of_csrf);

                $.ajax({
                    url:"/first_table",
                    headers: {
                        "X-CSRFToken":token_of_csrf
                    },
                    type:"post",
                    data: formdata, // 并不会传送什么有意义的数据，这一点总是固定的
                    dataType: 'JSON',
                    cache:false,
                    processData:false,
                    contentType:false,
                    success:function(target_list) {
                        var n = target_list['size'];
                        n = parseInt(n); // 一共有三个参数？
                        //console.log(target_list);
                        // 这里我们需要把文件修改为方便的json格式，需要自己生成？
                        $('#first_table').empty();

                        // <thead style="color:white"></thead>;
                        var table = "<thead style=\"color:white\"><tr><th>时间time</th><th>can报文id</th><th>十六进制数据</th><th>攻击描述</th></tr></thead>";
                        $('#first_table').append(table);
                        var tbody = "<tbody  style=\"padding: 5px 5px; height: 400px\">";
                        var tmp  = "";
                        for(var i=0; i<n; i++) {
                            // 下面需要构建报文
                            var time_loc = "time" + i;
                            var can_id_loc = "can_id" + i;
                            var data_loc = "data_in_hex" + i;
                            var description_loc = "description" + i;

                            tmp = tmp + "<tr>";
                            tmp = tmp+"<td>";
                            tmp = tmp + target_list[time_loc] + "</td>";
                            tmp = tmp+"<td>";
                            tmp = tmp + target_list[can_id_loc] + "</td>";
                            tmp = tmp+"<td>";
                            tmp = tmp + target_list[data_loc] + "</td>";
                            tmp = tmp+"<td>";
                            tmp = tmp + target_list[description_loc] + "</td>";

                            tmp = tmp + "</tr>";
                        }

                        if(n == 0) {
                            tmp = tmp + "<tr>";
                            tmp = tmp+"<td>";
                            tmp = tmp + "id is not proper or time is too less" + "</td>";
                            tmp = tmp+"<td>";
                            tmp = tmp + "id is not proper or time is too less" + "</td>";
                            tmp = tmp+"<td>";
                            tmp = tmp + "id is not proper or time is too less" + "</td>";
                            tmp = tmp+"<td>";
                            tmp = tmp + "id is not proper or time is too less" + "</td>";
                            tmp = tmp + "</tr>";
                        }

                        var tbody_end = "</tbody>";

                        $('#first_table').append(tbody+tmp+tbody_end);
                    }
                });

                var data = "<span class=\"demoSpan1\" style=\"margin:50px;\"></span>";
                tmp.append(data);
            })
        });

        $(function() {
            $("#second_button").click(function() {
                var tmp = $('#second_span');
                tmp.empty();
                // <span class="demoSpan2" style="margin:50px;"></span>
                // 之后会在这里调用一个ajax与后端进行交互，内容是合理的
                var formdata = new FormData();
                var token_of_csrf = $('[name="csrfmiddlewaretoken"]').val();
                // 这里有一小部分别的information，我们需要写入更多的信息
                formdata.append("first_table", "first_table");
                formdata.append("csrfmiddlewaretoken", token_of_csrf);

                $.ajax({
                    url:"/second_table",
                    headers: {
                        "X-CSRFToken":token_of_csrf
                    },
                    type:"post",
                    data: formdata, // 并不会传送什么有意义的数据，这一点总是固定的
                    dataType: 'JSON',
                    cache:false,
                    processData:false,
                    contentType:false,
                    success:function(target_list) {
                        var n = target_list['size'];
                        n = parseInt(n); // 一共有三个参数？
                        //console.log(target_list);
                        // 这里我们需要把文件修改为方便的json格式，需要自己生成？
                        $('#second_table').empty();

                        // <thead style="color:white"></thead>;
                        var table = "<thead style=\"color:white\"><tr><th>时间time</th><th>can报文id</th><th>十六进制数据</th><th>攻击描述</th></tr></thead>";
                        $('#second_table').append(table);
                        var tbody = "<tbody  style=\"padding: 5px 5px; height: 400px\">";
                        var tmp  = "";
                        for(var i=0; i<n; i++) {
                            // 下面需要构建报文
                            var time_loc = "time" + i;
                            var can_id_loc = "can_id" + i;
                            var data_loc = "data_in_hex" + i;
                            var description_loc = "description" + i;

                            tmp = tmp + "<tr>";
                            tmp = tmp+"<td>";
                            tmp = tmp + target_list[time_loc] + "</td>";
                            tmp = tmp+"<td>";
                            tmp = tmp + target_list[can_id_loc] + "</td>";
                            tmp = tmp+"<td>";
                            tmp = tmp + target_list[data_loc] + "</td>";
                            tmp = tmp+"<td>";
                            tmp = tmp + target_list[description_loc] + "</td>";

                            tmp = tmp + "</tr>";
                        }

                        if(n == 0) {
                            tmp = tmp + "<tr>";
                            tmp = tmp+"<td>";
                            tmp = tmp + "id is not proper or time is too less" + "</td>";
                            tmp = tmp+"<td>";
                            tmp = tmp + "id is not proper or time is too less" + "</td>";
                            tmp = tmp+"<td>";
                            tmp = tmp + "id is not proper or time is too less" + "</td>";
                            tmp = tmp+"<td>";
                            tmp = tmp + "id is not proper or time is too less" + "</td>";
                            tmp = tmp + "</tr>";
                        }

                        var tbody_end = "</tbody>";

                        $('#second_table').append(tbody+tmp+tbody_end);
                    }
                });

                var data = "<span class=\"demoSpan1\" style=\"margin:50px;\"></span>";
                tmp.append(data);
            })
        });


        $(function() {
            $("#third_button").click(function() {
                var tmp = $('#third_span');
                tmp.empty();

                var formdata = new FormData();
                var token_of_csrf = $('[name="csrfmiddlewaretoken"]').val();
                // 这里有一小部分别的information，我们需要写入更多的信息
                formdata.append("first_table", "first_table");
                formdata.append("csrfmiddlewaretoken", token_of_csrf);

                $.ajax({
                    url:"/third_table",
                    headers: {
                        "X-CSRFToken":token_of_csrf
                    },
                    type:"post",
                    data: formdata, // 并不会传送什么有意义的数据，这一点总是固定的
                    dataType: 'JSON',
                    cache:false,
                    processData:false,
                    contentType:false,
                    success:function(target_list) {
                        var n = target_list['size'];
                        n = parseInt(n); // 一共有三个参数？
                        //console.log(target_list);
                        // 这里我们需要把文件修改为方便的json格式，需要自己生成？
                        $('#third_table').empty();

                        // <thead style="color:white"></thead>;
                        var table = "<thead style=\"color:white\"><tr><th>时间time</th><th>can报文id</th><th>十六进制数据</th><th>攻击描述</th></tr></thead>";
                        $('#third_table').append(table);
                        var tbody = "<tbody  style=\"padding: 5px 5px; height: 400px\">";
                        var tmp  = "";
                        for(var i=0; i<n; i++) {
                            // 下面需要构建报文
                            var time_loc = "time" + i;
                            var can_id_loc = "can_id" + i;
                            var data_loc = "data_in_hex" + i;
                            var description_loc = "description" + i;

                            tmp = tmp + "<tr>";
                            tmp = tmp+"<td>";
                            tmp = tmp + target_list[time_loc] + "</td>";
                            tmp = tmp+"<td>";
                            tmp = tmp + target_list[can_id_loc] + "</td>";
                            tmp = tmp+"<td>";
                            tmp = tmp + target_list[data_loc] + "</td>";
                            tmp = tmp+"<td>";
                            tmp = tmp + target_list[description_loc] + "</td>";

                            tmp = tmp + "</tr>";
                        }

                        if(n == 0) {
                            tmp = tmp + "<tr>";
                            tmp = tmp+"<td>";
                            tmp = tmp + "id is not proper or time is too less" + "</td>";
                            tmp = tmp+"<td>";
                            tmp = tmp + "id is not proper or time is too less" + "</td>";
                            tmp = tmp+"<td>";
                            tmp = tmp + "id is not proper or time is too less" + "</td>";
                            tmp = tmp+"<td>";
                            tmp = tmp + "id is not proper or time is too less" + "</td>";
                            tmp = tmp + "</tr>";
                        }

                        var tbody_end = "</tbody>";

                        $('#third_table').append(tbody+tmp+tbody_end);
                    }
                });
                // <span class="demoSpan2" style="margin:50px;"></span>
                // 之后会在这里调用一个ajax与后端进行交互，内容是合理的

                var data = "<span class=\"demoSpan1\" style=\"margin:50px;\"></span>";
                tmp.append(data);
            })
        });


        $(function() {
            $("#fourth_button").click(function() {
                var tmp = $('#fourth_span');
                tmp.empty();

                var formdata = new FormData();
                var token_of_csrf = $('[name="csrfmiddlewaretoken"]').val();
                // 这里有一小部分别的information，我们需要写入更多的信息
                formdata.append("first_table", "first_table");
                formdata.append("csrfmiddlewaretoken", token_of_csrf);

                $.ajax({
                    url:"/fourth_table",
                    headers: {
                        "X-CSRFToken":token_of_csrf
                    },
                    type:"post",
                    data: formdata, // 并不会传送什么有意义的数据，这一点总是固定的
                    dataType: 'JSON',
                    cache:false,
                    processData:false,
                    contentType:false,
                    success:function(target_list) {
                        var n = target_list['size'];
                        n = parseInt(n); // 一共有三个参数？
                        //console.log(target_list);
                        // 这里我们需要把文件修改为方便的json格式，需要自己生成？
                        $('#fourth_table').empty();

                        // <thead style="color:white"></thead>;
                        var table = "<thead style=\"color:white\"><tr><th>时间time</th><th>can报文id</th><th>十六进制数据</th><th>攻击描述</th></tr></thead>";
                        $('#fourth_table').append(table);
                        var tbody = "<tbody  style=\"padding: 5px 5px; height: 400px\">";
                        var tmp  = "";
                        for(var i=0; i<n; i++) {
                            // 下面需要构建报文
                            var time_loc = "time" + i;
                            var can_id_loc = "can_id" + i;
                            var data_loc = "data_in_hex" + i;
                            var description_loc = "description" + i;

                            tmp = tmp + "<tr>";
                            tmp = tmp+"<td>";
                            tmp = tmp + target_list[time_loc] + "</td>";
                            tmp = tmp+"<td>";
                            tmp = tmp + target_list[can_id_loc] + "</td>";
                            tmp = tmp+"<td>";
                            tmp = tmp + target_list[data_loc] + "</td>";
                            tmp = tmp+"<td>";
                            tmp = tmp + target_list[description_loc] + "</td>";

                            tmp = tmp + "</tr>";
                        }

                        if(n == 0) {
                            tmp = tmp + "<tr>";
                            tmp = tmp+"<td>";
                            tmp = tmp + "id is not proper or time is too less" + "</td>";
                            tmp = tmp+"<td>";
                            tmp = tmp + "id is not proper or time is too less" + "</td>";
                            tmp = tmp+"<td>";
                            tmp = tmp + "id is not proper or time is too less" + "</td>";
                            tmp = tmp+"<td>";
                            tmp = tmp + "id is not proper or time is too less" + "</td>";
                            tmp = tmp + "</tr>";
                        }

                        var tbody_end = "</tbody>";

                        $('#fourth_table').append(tbody+tmp+tbody_end);
                    }
                });
                // <span class="demoSpan2" style="margin:50px;"></span>
                // 之后会在这里调用一个ajax与后端进行交互，内容是合理的

                var data = "<span class=\"demoSpan1\" style=\"margin:50px;\"></span>";
                tmp.append(data);
            })
        });
    </script>
{% endblock %}

