{% extends 'base.html' %}
{% block nav %}
    <br>
    <div style="font-size: large">
        <ol class="breadcrumb" style="background-color: transparent">
            <li><a href="/"><strong>Home</strong></a></li>
            <li><a href="/detect" style="color: #afd9ee"><strong>Detect</strong></a></li>
        </ol>
    </div>
{% endblock %}
{% block parse %}
    <div class="col-xs-4">
        <form method="post" enctype="multipart/form-data" action="/detect/">
            {% csrf_token %}
            <input type="file" name="myfile">
            <button class="submit" type="submit">Submit</button>
        </form>
    </div>
    <div class="container-fluid tm-content-container">
        <ul class="cd-hero-slider mb-0 py-5">
            <div style="text-align: center">
                <h1>Detecting anomalies</h1>
                <h3>in a given dataset, utilising features from <a href="/parse">Parse</a></h3>
            </div>
            <div class="mx-auto position-relative gallery-container">
                <div class="circle intro-circle-1"></div>
                <div class="circle intro-circle-2"></div>
                <div class="mx-auto tm-border-top gallery-slider">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-4">
                            <div class="intro-left tm-bg-dark" style="height: 100%">
                                <h1 class="mb-4" style="text-align: center"><a href='/detect/sequence'>Sequence</a></h1>
                                <p class="mb-4" style="font-size: large">
                                    Detecting with features of a single ID
                                    {{ ddata.20.time }}
                                    {{ ddata.20.id }}
                                    {{ did.20 }}
                                </p>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <div class="intro-left tm-bg-dark" style="height: 100%">
                                <h1 class="mb-4" style="text-align: center"><a href='/detect/datafield'>Datafield</a>
                                </h1>
                                <p class="mb-4" style="font-size: large">
                                    Description
                                </p>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row" style="margin-top: 3%">
                        <div class="col-md-1"></div>
                        <div class="col-md-4">
                            <div class="intro-left tm-bg-dark" style="height: 100%">
                                <h1 class="mb-4" style="text-align: center"><a href='/detect/sequenceRelationship'>Sequence
                                    Relationship</a></h1>
                                <p class="mb-4" style="font-size: large">
                                    Detecting with futures of different sub sequences
                                </p>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <div class="intro-left tm-bg-dark" style="height: 100%">
                                <h1 class="mb-4" style="text-align: center"><a href='/detect/datafieldRelationship'>Datafield
                                    Relationship</a></h1>
                                <p class="mb-4" style="font-size: large">
                                    Description
                                </p>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
        </ul>
    </div>
    <script type="text/javascript">
        var item = document.getElementById("web_title");
        item.innerHTML = "Detect";
        item = document.getElementById("web_logo");
        item.innerHTML = "Detect";
    </script>
{% endblock %}