{% extends 'base.html' %}
{% block nav %}
    <br>
      <div style="font-size: large">
        <ol class="breadcrumb" style="background-color: transparent">
            <li><a href="/"><strong>Home</strong></a></li>
            <li><a href="/detect"><strong>Detect</strong></a></li>
            <li><a href="/detect/datafieldRelationship" style="color: #afd9ee"><strong>Datafield Relationship</strong></a></li>
        </ol>
      </div>
{% endblock %}
{% block parse %}
    {{ ddata.20.time }}
    {{ ddata.20.id }}
    {{ did.20 }}
    {{ dfeat.0.SR }}
    <script type="text/javascript">
        var item = document.getElementById("web_title");
        item.innerHTML = "Detect";
        item = document.getElementById("web_logo");
        item.innerHTML = "Detect";
    </script>
{% endblock %}